#include "rfid.h"

RFIDDialog DIALOGEX 0, 0, 574, 237
STYLE DS_SYSMODAL | DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_TRANSPARENT | WS_EX_COMPOSITED
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    EDITTEXT        IDC_EDIT1,169,60,181,14,ES_AUTOHSCROLL | WS_DISABLED
    CONTROL         "light 1",IDC_CHECK1,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,354,109,36,10
    CONTROL         "light 2",IDC_CHECK2,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,354,128,36,10
    CONTROL         "light 3",IDC_CHECK3,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,356,145,36,10
    GROUPBOX        "Lights",IDC_STATIC,342,98,74,72
END

