#include "terminal.h"

IDI_APP_ICON    ICON    "wireless.ico"

TerminalMenu MENU
BEGIN
    POPUP "&Terminal"
    BEGIN
        MENUITEM "&Connect", ID_CONNECT
        MENUITEM "&Disconnect", ID_DISCONNECT
        MENUITEM SEPARATOR
        MENUITEM "E&xit", ID_EXIT
    END
    POPUP "&Emulation"
    BEGIN
        MENUITEM "&None", ID_EMU_START, CHECKED
    END
END
