#include "terminal.h"

TerminalMenu MENU
BEGIN
    POPUP "&Terminal"
    BEGIN
        MENUITEM "&Connect", ID_CONNECT
        MENUITEM "&Disconnect", ID_DISCONNECT
        MENUITEM SEPARATOR
        MENUITEM "E&xit", ID_EXIT
    END
    POPUP "&Emulation"
    BEGIN
        MENUITEM "&None", ID_EMU_START, CHECKED
        MENUITEM "&One", ID_EMU_ONE
        MENUITEM "&Two", ID_EMU_TWO
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&Preferences", ID_PREFERENCES
    END
END

CONNECT_DLG DIALOGEX 0, 0, 150, 125
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Connect"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Connection:", -1, 10, 10, 100, 10
    COMBOBOX CONNECT_TYPE, 10, 20, 130, 15, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWN

    GROUPBOX "COM Settings", -1, 10, 40, 130, 60
    LTEXT "Port:", -1, 20, 55, 100, 10
    COMBOBOX CONNECT_PORT, 20, 65, 110, 15, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWN

    CONTROL "Configure port settings", CONNECT_CONF, "Button", WS_TABSTOP | BS_AUTOCHECKBOX, 20, 80, 110, 10

    PUSHBUTTON "Connect", CONNECT_BTN, 95, 105, 35, 14
    PUSHBUTTON "Cancel", CONNECT_QUIT, 20, 105, 35, 14
END

PREFERENCES_DLG DIALOGEX 0, 0, 250, 300
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Preferences"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Emulation Modes:", -1, 10, 10, 100, 10

    CONTROL "No Emulation", PREFERENCES_NONE, "Button", WS_TABSTOP | BS_AUTORADIOBUTTON, 20, 80, 110, 10
    CONTROL "Emulation One", PREFERENCES_ONE, "Button", WS_TABSTOP | BS_AUTORADIOBUTTON, 20, 100, 110, 10
    CONTROL "Emulation Two", PREFERENCES_TWO, "Button", WS_TABSTOP | BS_AUTORADIOBUTTON, 20, 120, 110, 10

    PUSHBUTTON "Save", PREFERENCES_SAVE, 200, 280, 35, 14
END
